<div style="padding: 2%;">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
            (keyup)="getsearch_job(job_id.value)" #job_id>
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="getsearch_job(job_id.value)">ค้นหา</button>
    </form>
    <br>
    <div *ngIf="table1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ชื่อ</th>
                    <th scope="col">ร้าน</th>
                    <th scope="col">รายละเอียด</th>
                    <th scope="col">สถานะ</th>
                    <th scope="col">จัดการ</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of getjob | paginate: { itemsPerPage: 10, currentPage: p }">
                <tr>
                    <td>{{item.cus_name}}</td>
                    <td>{{item.cus_shop}}</td>
                    <td>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            value="{{item.job_detail}}" readonly></textarea>
                        <h6> {{item.job_detail}}</h6>
                    </td>
                    <td>
                        <select class="form-control" Name="name" id="exampleFormControlSelect1"
                            value="{{item.job_status}}" (change)="onChange(item.job_id,$event.target.value)">
                            <option value="Y">เสร็จสิ้น</option>
                            <option value="N">กำลังดำเนินการ</option>
                        </select>
                    </td>
                    <td>
                        <!-- <button type="button" class="btn btn-primary" (click)="click(item)">ต้นแบบ</button>&nbsp; -->
                        <button type="button" class="btn btn-primary" (click)="click(item)">ปริ้น</button>&nbsp;

                        <!-- <button type="button" class="btn btn-primary" (click)="ExportTOExcel()">Excel</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <div *ngIf="table2">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ชื่อ</th>
                    <th scope="col">ร้าน</th>
                    <th scope="col">รายละเอียด</th>
                    <th scope="col">สถานะ</th>
                    <th scope="col">จัดการ</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of seach_job | paginate: { itemsPerPage: 10, currentPage: p }">
                <tr>
                    <td>{{item.cus_name}}</td>
                    <td>{{item.cus_shop}}</td>
                    <td>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            value="{{item.job_detail}}" readonly></textarea>
                        <h6> {{item.job_detail}}</h6>
                    </td>
                    <td>
                        <select class="form-control" Name="name" id="exampleFormControlSelect1"
                            value="{{item.job_status}}" (change)="onChange(item.job_id,$event.target.value)">
                            <option value="Y">เสร็จสิ้น</option>
                            <option value="N">กำลังดำเนินการ</option>
                        </select>
                    </td>
                    <td>
                        <!-- <button type="button" class="btn btn-primary" (click)="click(item)">ต้นแบบ</button>&nbsp; -->
                        <button type="button" class="btn btn-primary" (click)="click(item)">ปริ้น</button>&nbsp;

                        <!-- <button type="button" class="btn btn-primary" (click)="ExportTOExcel()">Excel</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

</div>