.select,
#locale {
  width: 100%;
}
.like {
  margin-right: 10px;
}



#print-section{
display: none;
}
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
*{font-family: 'Kanit', sans-serif;}